.home-page{
    background-color: #fff;

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;

    padding: 50px;
}