header {
    background-color: #2884B2;
    display: block;
    color: white;
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header img {
    padding: 10px;
    margin-left: 3em;
    height: 44px;
    width: 170px;
}

header .schoolName {
    flex-direction: row;
    text-align: start;  
}

header .schoolName p:first-child {
    font-size: 15px;
}

header .schoolName p:last-child {
    font-size: 19px;
}

header .schoolName p {
    margin: 0 20px;
}